PlayInfoDisplay {
    layout: vertical;
    align: center middle;
    padding: 2;
    width: 100%;
}

ActionButtons {
    layout: horizontal;
    align: center middle;
    padding: 2;
    width: 100%;
}

VolumeDisplay {
    layout: vertical;
    align: center middle;
}

VolumeButton {
    align: center middle;
    width: 32;
}

ActionButton {
    width: 25%;
}
